<div class="page-header club-header <% if @club.has_cover_image? %>club-header--with-cover-image<% end%>">
  <% if @club.has_cover_image? %>
    <div class="club-header-cover-image" style="background-image: url(<%= @club.cover_image %>)"></div>
    <div class="club-header-gradient"></div>
  <% end %>
  <div class="container club-header-main">
    <% if @club.has_logo? %>
      <div class="club-header-logo mb-2 mb-sm-0 float-sm-left d-flex justfiy-content-center align-items-center">
        <img src="<%= @club.logo %>" alt="<%= @club.display_name %>"/>
      </div>
    <% end %>

    <% if is_member? %>
      <%= link_to 'Member', club_membership_path(@club), class: 'btn btn-success float-right' %>
    <% else %>
      <%= button_to 'Join', join_club_path(@club), class: 'btn btn-primary float-right' %>
    <% end %>

    <h1><%= @club.display_name %></h1>

    <% if @club.has_short_name? %>
      <p class="lead mb-0"><%= @club.name %></p>
    <% end %>
  </div>
</div>
