<% content_for :body_last do %>
  <%= google_maps('initMap') %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.2/wicket-gmap3.min.js" %>
  <%= javascript_include_tag :recording_area %>
<% end %>

<%= render 'header' %>
<%= render 'nav' %>

<div class="container my-4">
  <div class="row">
    <div class="col-md-3 col-12">
      <h5>Basic info</h5>
      <p>
        <small>This is the information fellow Birdrs will see when they find your club.</small>
      </p>
    </div>
    <div class="col-md-5 col-12">
      <%= simple_form_for(@club) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :short_name %>
          <%= f.input :description %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <%= horizontal_rule %>
  <div class="row">
    <div class="col-md-3 col-12">
      <h5>Recording area</h5>
      <p>
        <small>Set your club's recording area.</small>
      </p>
    </div>
    <div class="col-md-9 col-12">
      <%= simple_form_for(@club) do |f| %>
        <%= f.error_notification %>

        <%= f.hidden_field :recording_area %>

        <div class="input-group mb-4 search-box">
          <input
            id="recording-area-search"
            placeholder="Search for a location..."
            class="form-control"
          />
          <span class="input-group-addon">
            <%= fa_icon :search, class: 'search-box-icon' %>
          </span>
        </div>
        <div id="recording-area-map" class="recording-area-map mb-3"></div>

        <div class="form-actions">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
          <button
            disabled
            type="reset"
            id="recording-area-clear"
            class="btn btn-danger pull-right"
          >
            Clear <span class="fa fa-trash"></span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <%= horizontal_rule %>
  <div class="row mb-5">
    <div class="col-md-3 col-12">
      <h5>Images</h5>
      <p>
        <small>Customise your club page's images.</small>
      </p>
    </div>
    <div class="col-md-5 col-12">
      <%= simple_form_for(@club) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :cover_image, hint: "Your cover image should be at least 1500x300 pixels" %>
          <%= f.input :remove_cover_image, as: :boolean, label: 'Remove cover image' %>
          <%= f.input :logo, hint: "Your logo should be a square image at least 400x400 pixels" %>
          <%= f.input :remove_logo, as: :boolean, label: 'Remove logo' %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
