<%= render 'header' %>
<%= render 'nav' %>

<div class="container">
  <% @club.members.each do |member| %>
    <div class="members-list mt-2">
      <div class="member d-flex align-items-center py-3">
        <div class="member-image mr-3">
          <%= user_avatar :medium, user: member %>
        </div>
        <div class="member-details mr-auto">
          <p class="member-name my-0"><%= member.full_name %></p>
          <p class="member-since my-0 text-muted">Member since <%= member.member_since(@club).strftime("%B %Y") %></p>
        </div>
        <% if policy(@club).manage_roles? %>
        <div class="member-roles mx-3">
          <%= role_names member %>
        </div>
        <div class="member-settings">
          <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="member-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon 'cog' %>
          </button>
          <div class="dropdown-menu" aria-labelledby="member-dropdown-button">
            <a class="dropdown-item" href="#">Edit roles</a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
