<div class="page-header">
  <div class="container">
    <h5 class="mb-0"><%= @bird %></h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <dl class="row">
        <dt class="col-sm-3">Common Name</dt>
        <dd class="col-sm-9"><%= @bird.common_name %></dd>

        <dt class="col-sm-3">Scientific Name</dt>
        <dd class="col-sm-9"><%= @bird.scientific_name %></dd>

        <dt class="col-sm-3">Order</dt>
        <dd class="col-sm-9"><%= @bird.order %></dd>

        <dt class="col-sm-3">Scientific Family Name</dt>
        <dd class="col-sm-9"><%= @bird.scientific_family_name %></dd>

        <dt class="col-sm-3">Common Family Name</dt>
        <dd class="col-sm-9"><%= @bird.common_family_name %></dd>

        <dt class="col-sm-3">Sort Position</dt>
        <dd class="col-sm-9"><%= @bird.sort_position %></dd>

        <% if @bird.subspecies? %>
          <dt class="col-sm-3">Subspecies of:</dt>
          <dd class="col-sm-9"><%= link_to @bird.species, admin_bird_path(@bird.species) %></dd>
        <% else %>
          <dt class="col-sm-3">Subspecies:</dt>
          <dd class="col-sm-9">
          <% @bird.subspecies.each do |subspecies| %>
            <%= link_to subspecies.scientific_name, admin_bird_path(subspecies) %><br >
          <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'Edit', edit_admin_bird_path(@bird), class: 'btn btn-outline-dark' %>
      <%= link_to 'Destroy', admin_bird_path(@bird), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
