<%= page_header "Birding Sessions" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Location</th>
            <th>Address</th>
            <th>User</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @birding_sessions.each do |birding_session| %>
            <tr>
              <td><%= birding_session.date %></td>
              <td><%= birding_session.start_time %></td>
              <td><%= birding_session.location_name %></td>
              <td><%= birding_session.location_address %></td>
              <td><%= birding_session.user %></td>
              <td class="text-right">
              <%= link_to 'Show', [:admin ,birding_session], class: 'text-dark' %> |
              <%= link_to 'Edit', [:edit, :admin ,birding_session], class: 'text-dark' %> |
              <%= link_to 'Destroy', [:admin ,birding_session], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= paginate @birding_sessions %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= link_to 'Create New Birding Session', new_admin_birding_session_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
