<div class="page-header">
  <div class="container">
    <h5 class="mb-0"><%= @birding_session %></h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <dl class="row">
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9"><%= @birding_session.date %></dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9"><%= @birding_session.location %></dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">User</dt>
        <dd class="col-sm-9"><%= link_to @birding_session.user, [:admin, @birding_session.user] %></dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'Edit', [:edit, :admin, @birding_session], class: 'btn btn-outline-dark' %>
      <%= link_to 'Destroy', [:admin, @birding_session], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>



