<div class="page-header">
  <div class="container">
    <h5 class="mb-0"><%= @bird_record %></h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <dl class="row">
        <dt class="col-sm-3">Count</dt>
        <dd class="col-sm-9"><%= @bird_record.count %></dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Bird</dt>
        <dd class="col-sm-9"><%= link_to @bird_record.bird, [:admin, @bird_record.bird] %></dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Notes</dt>
        <dd class="col-sm-9"><%= @bird_record.notes %></dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">Birding Session</dt>
        <dd class="col-sm-9"><%= link_to @bird_record.birding_session, [:admin, @bird_record.birding_session] %></dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'Edit', [:edit, :admin, @bird_record], class: 'btn btn-outline-dark' %>
      <%= link_to 'Destroy', [:admin, @bird_record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>



