<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-5">
    <div class="card card-rounded">
      <div class="card-body">
        <h4 class="card-title text-center my-4 font-weight-light">Sign in to your account</h4>
        <div class="px-4 py-2">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :remember_me, as: :hidden, input_html: { value: true } %>
            <% if flash[:alert] %>
              <div class="alert alert-danger rounded" role="alert">
                <%= flash[:alert] %>
              </div>
            <% end %>
            <%= f.input :email, autofocus: true, label: false, placeholder: 'Email address' %>
            <%= f.input :password, label: false, placeholder: 'Password' %>
            <%= f.button :submit, "Sign in", class: 'btn-block py-2' %>
          <% end %>
        </div>
      </div>
      <div class="card-footer text-muted text-center py-3">
        New to Birdr? <%= link_to 'Sign up', new_user_registration_path %>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto my-4">
    <%= link_to 'Forgot your password?', new_user_password_path, class: 'text-light bg-gray' %>
  </div>
</div>
