<script id="birdRecordResultTemplate" type="text/x-handlebars-template">
  <div id="{{index}}" class="list-group-item birding-session-bird-result d-flex justify-content-start align-items-center">
    <div id="photo_{{index}}" class="bird-list-image"></div>
    <div>
      <span id="count_{{index}}"></span>{{name}}<span id="marker_{{index}}" class="custom-location d-none ml-2"><%= fa_icon 'map-marker' %></span><br/>

      <small class="text-muted text-truncated" id="notes_{{index}}"></small>
    </div>
    <input value="{{id}}" class="form-control hidden" type="hidden" name="birding_session[bird_records_attributes][{{index}}][bird_id]" id="birding_session_bird_records_attributes_{{index}}_bird_id">
    <input value="" class="form-control hidden" type="hidden" name="birding_session[bird_records_attributes][{{index}}][count]" id="birding_session_bird_records_attributes_{{index}}_count">
    <input value="" class="form-control hidden" type="hidden" name="birding_session[bird_records_attributes][{{index}}][location]" id="birding_session_bird_records_attributes_{{index}}_location">
    <input value="" class="form-control hidden" type="hidden" name="birding_session[bird_records_attributes][{{index}}][notes]" id="birding_session_bird_records_attributes_{{index}}_notes">
    <div id="photo_fields_{{index}}" class="d-none"></div>
    <div class="actions ml-auto">
      <%= link_to '#', id: 'edit_{{index}}', class: 'btn btn-outline-primary btn-sm', data: {
        toggle: 'modal',
        target: '#birdRecordModal',
        id: '{{id}}',
        name: '{{name}}',
        index: '{{index}}',
        latitude: '{{latitude}}',
        longitude: '{{longitude}}'
      } do %>
        <%= fa_icon :pencil %>
      <% end %>
      <%= link_to "#", class: 'btn btn-outline-danger btn-sm remove-bird-record', data: { confirm_message: "Are you sure you want to remove {{name}} from your list?" } do %>
        <%= fa_icon :trash %>
      <%  end %>
    </div>
  </div>
</script>
