<% content_for :js do %>
  <%= javascript_include_tag :add_bird_records %>
<% end %>

<div class="page-header">
  <div class="container">
    <h5 class="mb-0">Add bird records</h5>
  </div>
</div>

<div class="container">
  <%= simple_form_for(@birding_session) do |f| %>
  <%= f.association :user, as: :hidden, label: false, wrapper: false %>
  <div class="row">
    <div class="col-12 col-md-4">
      <h5>Date</h5>
      <p>
        <small>When did you go birding?</small>
      </p>
    </div>
    <div class="col-12 col-md-4">
      <%= f.input :date, required: false, as: :string, label: false %>
    </div>
  </div>
  <%= horizontal_rule %>
  <div class="row">
    <div class="col-12 col-md-4">
      <h5>Location</h5>
      <p>
        <small><b>Tip:</b> drag the marker for extra accuracy.</small>
      </p>
      <div class="input-group mb-2 search-box">
        <input id="search" placeholder="Search for a location..." class="form-control" />
        <span class="input-group-addon" id="basic-addon1">
          <%= fa_icon :search, class: 'search-box-icon' %>
          <%= fa_icon :spinner, class: 'fa-spin search-box-spinner' %>
        </span>
      </div>
      <%= f.input :location, as: :hidden, label: false, wrapper: false %>
      <div id="geocodeSearchResults" class="birding_session-search-results"></div>
    </div>
    <div class="col-12 col-md-8">
      <div id="map" class="birding-session-map"></div>
    </div>
  </div>
  <%= horizontal_rule %>
  <div class="row">
    <div class="col-12 col-md-4">
      <h5>Birds</h5>
    </div>
    <div class="col-12 col-md-8">
      <%= f.association :birds, collection: @birds, label: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <%= f.button :submit, 'Save Bird Records', class: 'btn-primary mb-5 mt-4' %>
    </div>
  </div>
  <% end %>
</div>
