<% content_for :body_last do %>
  <%= google_maps :init %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_pack_tag 'birding_sessions/add_bird_records' %>
<% end %>

<div class="page-header">
  <div class="container">
    <h5 class="mb-0">Add bird records</h5>
  </div>
</div>

<div class="container">
  <%= simple_form_for(@birding_session) do |f| %>
  <%= f.association :user, as: :hidden, label: false, wrapper: false %>
  <div id="add_birding_session" data-errors='<%= @birding_session.errors.to_json %>' data-birding-session='<%= @birding_session.to_json(methods: :datetime, include: { bird_records: { methods: :datetime, include: [ :photos, :bird ] } }) %>'>
    <%= javascript_pack_tag 'birding_sessions/add_bird_records' %>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <%= f.button :submit, 'Save Bird Records', class: 'btn-primary mb-5 mt-4' %>
    </div>
  </div>
  <% end %>
</div>
