<div class="row">
  <div class="col">
    <h1>Birds</h1>
    <%= link_to 'New Bird', new_bird_path, class: 'btn btn-outline-primary mb-3' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Common name</th>
          <th>Scientific name</th>
          <th>Order</th>
          <th>Scientific family name</th>
          <th>Common family name</th>
          <th>Sort position</th>
          <th>Species</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @birds.each do |bird| %>
          <tr>
            <td><%= bird.common_name %></td>
            <td><%= bird.scientific_name %></td>
            <td><%= bird.order %></td>
            <td><%= bird.scientific_family_name %></td>
            <td><%= bird.common_family_name %></td>
            <td><%= bird.sort_position %></td>
            <td><%= bird.species_id %></td>
            <td><%= link_to 'Show', bird %></td>
            <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
            <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= paginate @birds %>
  </div>
</div>
