<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @bird.common_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @bird.scientific_name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @bird.order %>
</p>

<p>
  <strong>Scientific family name:</strong>
  <%= @bird.scientific_family_name %>
</p>

<p>
  <strong>Common family name:</strong>
  <%= @bird.common_family_name %>
</p>

<p>
  <strong>Sort position:</strong>
  <%= @bird.sort_position %>
</p>

<p>
  <strong>Species:</strong>
  <%= @bird.species_id %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'Back', birds_path %>
