<div class="page-header">
  <div class="container">
    <h5 class="mb-0"><%= @localized_bird %></h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
            <dl class="row">
        <dt class="col-sm-3">Common name</dt>
        <dd class="col-sm-9"><%= @localized_bird.common_name %></dd>
      </dl>
            <dl class="row">
        <dt class="col-sm-3">Locale</dt>
        <dd class="col-sm-9"><%= @localized_bird.locale %></dd>
      </dl>
            <dl class="row">
        <dt class="col-sm-3">Sort position</dt>
        <dd class="col-sm-9"><%= @localized_bird.sort_position %></dd>
      </dl>
          </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'Edit', [:edit, :admin, @localized_bird], class: 'btn btn-outline-dark' %>
      <%= link_to 'Destroy', [:admin, @localized_bird], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>



