<header class="navbar navbar-light bg-white mb-4">
  <%= link_to '/', class: 'navbar-brand' do %>
  <%= image_tag 'icon.svg', height: 30 %>
  <%- end %>
  <% if user_signed_in? %>
    <a href="#" role="button" data-toggle="dropdown" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
      <%= user_avatar %>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-account pb-0 my-0 pt-0" aria-labelledby="dropdownMenuLink">
      <%= link_to edit_user_registration_path, class: 'nav-block-link py-3' do %>
        <div class="text-center pt-2">
          <%= user_avatar :medium, class: 'mb-2' %>
          <p class="mb-0">
            <%= current_user.to_s %><br>
            <small class="text-muted"><%= current_user.email %></small>
          </p>
        </div>
      <%- end %>
      <% if current_user.admin? %>
        <%= link_to admin_root_path, class: 'dropdown-item border-left-0 border-right-0 border-bottom-0 border p-2' do %>
          <%= fa_icon :shield, class: 'px-2' %> Administration
        <% end %>
      <% end %>
      <%= link_to edit_user_registration_path, class: 'dropdown-item border-left-0 border-right-0 border-bottom-0 border p-2' do %>
        <%= fa_icon 'sliders', class: 'px-2' %> Account Settings
      <%- end -%>
      <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item border-left-0 border-right-0 border-bottom-0 border p-2' do %>
        <%= fa_icon 'sign-out', class: 'px-2' %> Sign Out
      <%- end %>
    </div>
  <%- else -%>
    <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
  <%- end %>
</header>
