<header class="navbar navbar-light bg-white mb-4">
  <%= link_to '/', class: 'navbar-brand' do %>
  <%= image_tag 'icon.svg', height: 30 %>
  <%- end %>
  <% if user_signed_in? %>
    <a href="#" role="button" data-toggle="dropdown" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
      <%= gravatar_image_tag current_user.email, gravatar: { size: 30 }, alt: current_user.to_s, class: 'rounded-circle' %>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-account pb-0" aria-labelledby="dropdownMenuLink">
      <div class="text-center pt-2">
        <%= gravatar_image_tag current_user.email, gravatar: { size: 48 }, alt: current_user.to_s, class: 'rounded-circle mb-2' %>
        <p>
          <%= current_user.to_s %><br>
          <small class="text-muted"><%= current_user.email %></small>
        </p>
      </div>
      <%= link_to 'Account Settings', edit_user_registration_path, class: 'dropdown-item border-left-0 border-right-0 border-bottom-0 border py-2' %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item border-left-0 border-right-0 border-bottom-0 border py-2' %>
    </div>
  <%- else -%>
    <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
  <%- end %>
</header>
