<!DOCTYPE html>
<html class="full-height">
  <head>
    <title>Birdr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="sign_in">
    <div class="gradient-primary page-wrap pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-auto">
            <%= image_tag 'logo-white.svg', class: 'm-5' %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
